@import './element-ui.scss'; // import before custom css
@import './animations.scss';
@import './transitions.scss';

html {
  --color-primary: #2fd8ca;
  --color-text-primary: #fff;
  --color-text-primary-inverse: #7d5040;
  --background-color-base: #7d5040;
  --background-color-base-inverse: fce2b8;
  --background-image: linear-gradient(327deg,rgb(235 182 62 / 50%),rgba(62,199,235,0));
}

body {
  background: var(--background-color-base);
  color: var(--color-text-primary);
  font-family: 'Avenir', 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', Arial,
    sans-serif;
}
